JACKETT_BASE_URL=http://127.0.0.1:9117
JACKETT_API_KEY=08mz5wk783kp2sbvf0asm2xcczktsju6
JACKETT_INDEXER=all

QBITTORRENT_BASE_URL=http://127.0.0.1:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=admin123

TOR_SOCKS_HOST=127.0.0.1
TOR_SOCKS_PORT=9050
LYNX_BINARY=lynx